/* src/components/NotFound.css */
.not-found {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.not-found h2 {
  font-size: 36px;
  color: #dc3545;
}

.not-found p {
  font-size: 18px;
  color: #777;
}
